:root {
  --color-alpine-slate: #123249;
  --color-glacial-stone: #DDE8ED;
  --color-roasted-copper: #BD674A;
  --color-mustard-gold: #F3B941;
  --color-clinical-white: #F2EFEA;

  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Inter', sans-serif;
}

html {
  background-color: var(--color-alpine-slate);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-alpine-slate);
  color: var(--color-glacial-stone);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  font-weight: 400;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}